{% extends 'pig_app/base.html' %}

{% block body %}
<div class="row mt-3">
    <div class="col">
        <h4>About Pig Latin</h4>
        <p>Pig Latin is a language game in which words in English are altered. The objective is to conceal the words from others not familiar with the rules. The reference to Latin is a deliberate misnomer, as it is simply a form of jargon, used only for its English connotations as a strange and foreign-sounding language.</p>
        <a href="https://en.wikipedia.org/wiki/Pig_Latin#Rules">Pig Latin Rules >></a>
    </div>

    <div class="col">
        <h4>Django</h4>
        <p>Pig Latin Translator is a simple web application build with Python Django. It was my first project to learn how to build web applications with Python.</p>
    </div>
</div>
{% endblock %}
